{% extends 'base.html' %}
{% block content %}
    <h2>Manufacturing Order <a href="/manufacturing/products/{{ mo[5] }}">{{ mo[6] }}</a></h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Date Created</th>
            <th>Date Done</th>
            <th>BoM ID</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{ mo[0] }}</td>
            <td>{{ mo[1].strftime('%Y-%m-%d %H:%M') if mo[1] else '' }}</td>
            <td>{{ mo[2].strftime('%Y-%m-%d %H:%M') if mo[2] else '' }}</td>
            <td><a href="/manufacturing/boms/{{ mo[3] }}">{{ mo[3] }}</a></td>
            <td>{{ mo[4] }}</td>
        </tr>
    </table>
    <h2>BoM Lines:</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Component ID</th>
            <th>Component Name</th>
            <th>Quantity</th>
            <th>Available</th>
            <th>Reserved</th>
            <th>Unit Price</th>
            <th>Cost</th>
        </tr>
        {% for bom_line in bom_lines %}
        <tr>
            <td>{{ bom_line[0] }}</td>
            <td><a href="/manufacturing/products/{{ bom_line[2] }}">{{ bom_line[2] }}</a></td>
            <td>{{ bom_line[3] }}</td>
            <td>{{ bom_line[4] }}</td>
            <td>{{ bom_line[6] }}</td>
            <td>{{ bom_line[7] or 0 }}</td>  <!-- Display 0 if Reserved is not set -->
            <td>{{ bom_line[5] }}</td>
            <td>{{ bom_line[5] * bom_line[4] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total: {{ components_cost }}</strong></td>
        </tr>
    </table>

    <h4>Progress Status:</h4>
    <form method="POST" action="{{ url_for('mo.get_mo', id=mo[0]) }}">
        {% if mo[4] == 'Draft' %}
            <button type="submit" class="btn btn-primary" name="status" value="Pending">Mark as Pending</button>
            <button type="submit" class="btn btn-primary" name="status" value="Cancelled">Mark as Cancelled</button>
        {% elif mo[4] == 'Pending' %}
            <button type="submit" class="btn btn-primary" name="status" value="In Progress">Mark as In Progress</button>
            <button type="submit" class="btn btn-primary" name="status" value="Cancelled">Mark as Cancelled</button>
        {% elif mo[4] == 'Reserved' %}
            <button type="submit" class="btn btn-primary" name="status" value="In Progress">Mark as In Progress</button>
            <button type="submit" class="btn btn-primary" name="status" value="Cancelled">Mark as Cancelled</button>
        {% elif mo[4] == 'In Progress' %}
            <button type="submit" class="btn btn-primary" name="status" value="Completed">Mark as Completed</button>
            <button type="submit" class="btn btn-primary" name="status" value="Cancelled">Mark as Cancelled</button>
        {% elif mo[4] == 'Cancelled' %}
            <button type="submit" class="btn btn-primary" name="status" value="Draft">Mark As Draft</button>
        {% endif %}
    </form>


    {% set lines_to_reserve = [] %}
    {% set all_lines_meet_criteria = true %}

    {% for bom_line in bom_lines %}
        {% if mo[4] in ['Draft', 'Pending'] %}
            {% if bom_line[6] >= bom_line[4] %}
                {% set lines_to_reserve = lines_to_reserve.append(bom_line) %}
            {% else %}
                {% set all_lines_meet_criteria = false %}
            {% endif %}
        {% else %}
            {% set all_lines_meet_criteria = false %}
        {% endif %}
    {% endfor %}

{% if mo[4] in ['Draft', 'Pending'] and all_lines_meet_criteria and lines_to_reserve|length == bom_lines|length %}
    <form method="POST" action="{{ url_for('mo.get_mo', id=mo[0]) }}">
        <button type="submit" class="btn btn-primary" name="status" value="Reserved">Reserve components</button>
    </form>
{% endif %}


    
    {% if mo[4] == 'Cancelled' %}
        <h5>Delete Manufacturing Order:</h5>
        <form method="POST" action="{{ url_for('mo.delete_mo', id=mo[0]) }}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    {% endif %}

    {% endblock %}