{% extends 'base.html' %}

{% block content %}
    <h2>Create Purchase Order</h2>

    <form method="POST" action="{{ url_for('po.create_po') }}">
        <div class="mb-3">
            <label for="supplier">Supplier:</label>
            <select class="form-select" id="supplier" name="supplier">
                {% for supplier in suppliers %}
                    <option value="{{ supplier[0] }}">{{ supplier[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="product">Product:</label>
            <select class="form-select" id="product" name="product">
                {% for product in products %}
                    <option value="{{ product[0] }}">{{ product[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}



