{% extends 'base.html' %}
{% block content %}
    <h3>Purchase Order {{ po[0] }} Details</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Supplier</th>
            <th>Created Date</th>
            <th>Purchase Date</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{ po[0] }}</td>
            <td><a href="/purchase/suppliers/{{ po[1] }}">{{ po[1] }}</a></td>
            <td>{{ po[2].strftime('%Y-%m-%d %H:%M') if po[2] else '' }}</td>
            <td>{{ po[3].strftime('%Y-%m-%d %H:%M') if po[3] else '' }}</td>
            <td>{{ po[4] }}</td>
        </tr>
    </table>
    <h3>PO Lines:</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Purchase Order ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Cost</th>
        </tr>
        {% for po_line in po_lines %}
        <tr>
            <td>{{ po_line[0] }}</td>
            <td><a href="/manufacturing/products/{{ po_line[2] }}">{{ po_line[3] }}</a></td>
            <td>{{ po_line[4] }}</td>
            <td>{{ po_line[5] }}</td>
            <td>{{ po_line[5] * po_line[4] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total: {{ total }}</strong></td>
        </tr>
    </table>
{% endblock %}


    
