/* styles.css */
header {
    background-color: #c6ced6; /* Replace with your desired background color */
    padding: 20px;
}

header h1 {
    color: #333; /* Replace with your desired text color */
}

