/* styles.css */

body {
    margin: 20px;
}

header {
    background-color: #dbe9fa; 
    margin-bottom: 10px;
}

header h2 {
    color: #333; 
    margin-left: 10px;
}

/* Remove underline from all links */
a {
  text-decoration: none;
}

/* Remove bullet points from unordered lists */
ul li {
  list-style-type: none;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
}

.supplier-container {
    display: flex;
    align-items: center;
}

.supplier-value {
    margin-right: 10px;
}

.dropdown-container {
    display: flex;
    align-items: center;
}

.dropdown-container select {
    margin-left: 5px;
}

.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    animation: flash-message-animation 3s ease-in-out;
  }
  
  @keyframes flash-message-animation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
header .banner-content {
    display: flex;
    align-items: center;
}

header .banner-content img {
    width: 100px;
    height: auto; /* Preserve aspect ratio */
}


.flash-message.success {
    background-color: #d4edda !important;
    color: #155724 !important;
  }
  
.flash-message.error {
    background-color: #f8d7da !important;
    color: #721c24 !important;
  }

.icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon-wrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.icon-wrapper a img {
    width: 200px; /* Adjust the width as needed */
}

.icon-wrapper a span {
    margin-top: 5px;
}

.clear-sort-link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.left-column{
  background-color: #f0f8ff; /*#F0F8FF; #c9dfec #dbe9fa*/
  padding: 1%;
  padding-bottom: 1%;
}

footer{
  margin-top: 5%;
}

footer .description {
  font-size: 80%; 
  color: #888888; 
}

