<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h3>{{ product[1] }}</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Is Assembly</th>
        </tr>
        <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
        </tr>
    </table>
</body>
</html>
