{% extends 'base.html' %}
{% block content %}
<table class="table table-striped table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Is Assembly</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product[0] }}</td>
        <td><a href="{{ url_for('products.get_product', id=product[0]) }}">{{ product[1] }}</a></td>
        <td><a href="/manufacturing/products/{{ product[0] }}">{{ product[1] }}</a></td>
        <td>{{ product[2] }}</td>
        <td>{{ product[3] }}</td>
        <td>{{ product[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
