{% extends 'base.html' %}
{% block content %}
<body>
    <h4>Inventory Item <a href="/manufacturing/products/{{ inventory_item[1] }}">{{ inventory_item[4] }}</a> Details</h4>
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Serial Number</th>
            <th>Location</th>
        </tr>
        <tr>
            <td>{{ inventory_item[0] }}</td>
            <td>{{ inventory_item[2] }}</td>
            <td>{{ inventory_item[3] }}</td>
        </tr>
    </table>
</body>
{% endblock %}