{% extends 'base.html' %}

{% block left_column %}
    {% include 'xtras_content.html' %}
{% endblock %}

{% block content %}
  <h4>CSV Samples</h4>
  <p class="warning">Currently import functionality does not validate cvs data</p>
  <h6>Products (component parts) csv</h6>
  <pre>
    name,description,price,is_assembly
    TV Set,"a TV",199.99,false
    Tennis Ball,"Yellow tennis ball for Tellyscope activation",2.99,false
    Launcher Arm,"Metal rod for launching tennis ball",12.99,false
    Spring Mechanism,"Compression spring for propelling tennis ball",8.99,false
    Trigger Lever,"Lever component for triggering mechanism",6.99,false
    Mounting Bracket,"Bracket component for triggering mechanism",3.99,false
    Trigger Spring,"Spring component for triggering mechanism",2.99,false
    Telescoping Shaft,"Metal or plastic tubes of various lengths for extension",39.99,false
    Support Brackets,"Metal brackets for supporting the assembly",14.99,false
    Locking Mechanism,"Mechanism for securing at desired length",9.99,false
    Rail,"Metal rail for guiding extension",19.99,false
    Tube,"Metal tube",7.99,false
    Coupler,"Coupler or connector to join tubes",4.99,false
    Fastening Hardware,"Various screws, nuts, bolts",5.99,false
  </pre>
  <h6>BoM csv:</h6>
  <pre>
    name,quantity
    Tellyscope
    TV Set,1
    Tennis Ball,10
    Launcher Arm,1
    Spring Mechanism,1
    Trigger Lever,1
    Mounting Bracket,4
    Trigger Spring,1
    Telescoping Shaft,1
    Support Brackets,2
    Locking Mechanism,1
    Rail,2
    Tube,4
    Coupler,3
    Fastening Hardware,4
  </pre>
  <h6>Purchase Order csv:</h6>
  <pre>
    name,quantity,supplier
    ,,Wendolynne's Market
    TV Set,1
    Tennis Ball,10
    Fastening Hardware,4
  </pre>
<h6>Another Purchase Order csv with a different supplier</h6>
<pre>
  name,quantity,supplier
  ,,McGraw Industries
  Launcher Arm,1
  Spring Mechanism,1
  Trigger Lever,1
  Mounting Bracket,4
  Trigger Spring,1
  Telescoping Shaft,1
  Support Brackets,2
  Locking Mechanism,1
  Rail,2
  Tube,4
  Coupler,3
</pre>
{% endblock %}
