{% extends 'base.html' %} 
{% block left_column %}
    {% include 'top_nav.html' %}
{% endblock %}
{% block content %}
    <div class="image-container">
      <img src="{{ url_for('static', filename='images/db-diagram.png') }}" alt="db diagram">
      <div class="patch"></div>
    </div>    
    <h6>How to start:</h6>
    <div class="columns">
        <div class="column">
          <strong>Manufacturing</strong>: create Products and a BOM.<br> 
          Both support CSV import.<br>
          Product duplicates are skipped.<br> 
          CSV for BOM must contain a top product (assembly) and products (component parts) for individual BOM Lines. 
          <a href="{{ url_for('csv.get_csv') }}">Find CSV samples here.</a><br>
          <strong>Purchase</strong>: create Supplier(s).<br>
          Now that you have Suppliers and Products, you can create Purchase Orders either manually or import from CSV.<br>
          Mark PO as completed when items are received.
        </div>
        <div class="column">
          <strong>Inventory:</strong> when PO is marked as completed these records created autmatically:<br>
          <ul>
            <li>Inventory Items for each product on a PO Line,</li>
            <li>Stock Moves from Supplier to Warehouse.</li>
          </ul>
          <strong>Manufacturing</strong>: create an MO (Manufacturing Order).<br>
          Select a BOM for the MO. BOM Lines will populate automatically.<br>
          To mark an MO as Reserved, each BOM Line must have the required quantity of components available as a result of completed POs.<br>
          If the required quantity for each BOM Line is available, reserve the components.<br>
        </div>
        <div class="column">
          <strong>Inventory</strong>: as soon as MO is marked as reserved these actions will be triggered automatically<br>
          <ul>
            <li>Inventory Items for each product on a BOM Line will be updated,</li>
            <li>new Stock Moves from Supplier to Warehouse will be created.</li>
          </ul>
          If MO is cancelled prior to being completed<br>
          <ul>
            <li>new Stock Moves from Factory back to Warehouse will be created,</li>
            <li>Inventory Items will be updated</li>
          </ul>
        </div>
      </div>
           
{% endblock %}